<h2 mat-dialog-title> {{getMet(data.meth)}} klijenta</h2>
<div mat-dialog-content>
  <form [formGroup]="createPar" class=" w100">
    <div class="form-holder2">
      <div class="disfc w30">
      </div>
      <div class="disfc w60">

        <div class="form-group">
          <mat-form-field style="min-width: 270px;">
            <mat-label for="name">Ime</mat-label>
            <input matInput type="text" id="name" class="form-control" formControlName="name" />
            @if (!createPar.controls['name'].valid && createPar.controls['name'].touched) {
            <mat-error class="error">Molimo unesite ime!</mat-error>}
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field style="min-width: 270px;">
            <mat-label for="country">Prezime</mat-label>
            <input matInput type="text" id="surname" class="form-control" formControlName="surname" />
            @if ( !createPar.controls['surname'].valid && createPar.controls['surname'].touched ) {
            <mat-error class="error">Molimo unesite prezime!</mat-error>}
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field style="min-width: 270px;">
            <mat-label for="email">E-mail</mat-label>
            <input matInput type="email" id="email" class="form-control" formControlName="email" />
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field style="min-width: 270px;">
            <mat-label for="email">Lozinka</mat-label>
            <input matInput type="text" id="password" class="form-control" formControlName="password"
              [type]="hide() ? 'password' : 'text'" />
            <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide()">
              <mat-icon data-testid="visi">{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint align="end"> Min 5 characters </mat-hint>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field style="min-width: 270px;">
            <mat-label>Izaberi ulogu</mat-label>
            <mat-select formControlName="role">
              <mat-option value='Admin'>
                Admin
              </mat-option>
              <mat-option value='Commercialist'>
                Komercijalista
              </mat-option>
              <mat-option value='Support'>
                Podrška
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions class="m-10">
  <button mat-button (click)="onNoClick()">Prekini</button>
  <button mat-button (click)="save()" [disabled]="!createPar.valid" data-testid="save">Snimi</button>
</div>