<div class="app">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <mat-nav-list class="list-horizontal">
        <mat-list-item>
          <a [routerLink]="['/todos']" class="link">Todos</a>
        </mat-list-item>
        <mat-list-item>
          <a [routerLink]="['/clients']" class="link">Clients</a>
        </mat-list-item>
      </mat-nav-list>

      <span class="spacer"></span>
      <mat-icon class="example-icon" aria-hidden="false" aria-label="User verified icon">verified_user</mat-icon>
    </mat-toolbar-row>
  </mat-toolbar>

  <h1> Angular coding exercises </h1>

  @if (!store.loading()) {
  <router-outlet></router-outlet>
  } @else {
  <mat-spinner />
  }
</div>