.todo-list {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.todo-input {
   width: 200px;
   mat-icon {
      color: indigo;
   }
}

.delete-btm {
   margin-right: 10px;
   margin-bottom: -5px;
   cursor: pointer;
   color: indigo;
}

.todo-item {
   min-width: 250px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}