<div class="todo-list">
    <h1> Todos list </h1>

    <mat-form-field class="todo-input">
        <mat-label>Input TODO</mat-label>
        <input matInput #inputTODO (keyup.enter)="onAddTodo(inputTODO.value, $event)">
        <mat-icon matSuffix>edit</mat-icon>
    </mat-form-field>

    <mat-button-toggle-group (change)="onFilterChange($event)" #filter>
        <mat-button-toggle value="all">All</mat-button-toggle>
        <mat-button-toggle value="pending">Pending</mat-button-toggle>
        <mat-button-toggle value="completed">Completed</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-list #cTodos>
        @for (todo of store.filteredTodos(); track todo.id; ) {
        <mat-list-item (click)="onTodoToggle(todo.id, todo.completed)">
            <div class="todo-item">
                <mat-icon class="delete-btm" (click)="onDelete(todo.id, $event)"> delete </mat-icon>
                <span [ngStyle]="{'text-decoration': todo.completed ? 'line-through' : 'none'}"> {{todo.title}} </span>
                <mat-checkbox [checked]="todo.completed"></mat-checkbox> 
            </div>
        </mat-list-item>
        }
    </mat-list>
</div>